TELEGRAM_BOT_TOKEN=replace_with_botfather_token
TELEGRAM_BOT_USERNAME=replace_with_bot_username
ACRCLOUD_HOST=identify-eu-west-1.acrcloud.com
ACRCLOUD_ACCESS_KEY=replace_with_acrcloud_access_key
ACRCLOUD_ACCESS_SECRET=replace_with_acrcloud_access_secret

POSTGRES_DB=music_recognition
POSTGRES_USER=music_user
POSTGRES_PASSWORD=music_password

MINIO_ENABLED=true
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BUCKET=music-audio
